body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", monospace;
    background-color: rgb(35, 78, 159);
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.section img {
    width: 800px;
    height: 800px;
    border-radius: 10%;
}